[
 %% SASL config (SASL is the erlang logging system)
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}]},           % 5 files max
 {data_manager,
  %% amqp_connection: specifies the host, username, and password for rabbitmq. username and password must be binaries
  %% amqp_workers: specifies the number of worker processes to be spawned for the various exchange handlers
  %%               it is a list of tuples where element 1 is the module name and element 2 is the number of workers
  %% audit_level: the audit level that the data manager runs at. This directly effects the verboseness of the information
  %%              sent over the audit exchange and saved to the data manager audit tables. The log levels are:
  %%                -debug: This will save and send all operations including selects
  %%                -test: This will save and send the insert, update, and ignored operations
  %%                -production: This will save and send the insert and update operations
  %% pools: this used to set up the pg_pool (the database connection pooling library) pool names. The name must exist in
  %%        this list in order to be declared in the root level environment.
  %% harbinger_db_pool: this is the connection pool used by the data manager. Its value is a tuple where element 1 is
  %%                    the number of postgresql connection in the pool and element 2 is a list of tuples containing the
  %%                    connection parameters. Those parameters are:
  %%                      -username: the username for the database connection
  %%                      -password: the password for the database connection
  %%                      -host: the host name of the database connection
  %%                      -database: the database name for the database connection
  %%                      -timeout: this is how long a connection/query will wait for a response before throwing an error
  [{amqp_connection, [{host,"localhost"},{username,<<"harbinger">>},{password,<<"superguest12">>}]},
   {amqp_workers, [{department_dispatch,10},{bulk_update_dispatch,5},{etl_dispatch,20},{serial_etl_dispatch,1},{control_dispatch,1},{analytics_dispatch,5},{hipaa,20}]},
   {audit_level,production},
   {pools, [harbinger_db_pool]},
   {harbinger_db_pool, {30,[{host, "localhost"},{database,"harbinger"},{username,"harbinger"},{password,"hcR3volution!"},{timeout,300000}]}}
  ]}
].

