###############################################################################
# ai-contacts.cfg
###############################################################################

###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################


#define contact{
#        contact_name                    hipchat
#        alias                           HipChat
#        service_notification_period     24x7
#        host_notification_period        24x7
#        service_notification_options    w,u,c,r
#        host_notification_options       d,r
#        service_notification_commands   hipchat
#        host_notification_commands      hipchat
#        email                           _HELPDESK_EMAIL_
#        }

define contact{
        contact_name                    helpdesk
        alias                           helpdesk
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,c
        host_notification_options       d
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           _HELPDESK_EMAIL_
        }

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   AI
        members                 helpdesk
        }
